# Eclipse specific files
.classpath
.project
.settings/

# IntelliJ IDEA specific files
.idea/
*.iml

# Maven build directory
target/

# Maven build directory
test-output/

# Eclipse build directory
bin/

# Log files
logs.txt

# Log folder
logs/
